/*Definir variables, que nos permitiran trabajar de manera paremetros*/
:root{
    --colorprimario: white;
    --colorsecundario: rgba(236,236,236, 0.8);
    --colorterciario: black;
    --altura-cabecero:5%;
    --altura-principal:80%;
    --altura-pie-pagina:15%;
}

/*PRIMORDIAL: Reseteo de etiquetas*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* etiquetas basicas */
body{
    width: 100vw;
    height: 120vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(240,240,240,0.5);
}

/* Clases basicas */
.cabecero{
    width: 100%;
    height: var(--altura-cabecero);
}


.cabecero__titulo{
    text-align: left;
    text-size-adjust: 1rem;
    margin-left: 2rem;
}

.cabecero__navegador{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecero__navegador__boton_ampliar{
    height: 2rem;
    margin-left: 1rem;
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
}

.cabecero__navegador__boton_oscuro{
    height: 2rem;
    margin-left: 1rem;
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
}
/* ------------------------------------------------------------------------------------------- */
.principal{
    width: 100%;
    height: var(--altura-principal);
}


.principal__seccion1{

    background-color: rgba(240,240,240,0.5);
    text-align: center;
    padding: 5%;
}

.principal__seccion1__titulo{
    margin-bottom: 2rem;
}

.principal__seccion1__texto{
    margin-left: 30%;
    margin-right: 30%;
}

.principal__seccion1__boton{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
}

.principal__seccion2{
    align-items: center;
    text-align: center;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.principal__seccion2__imagenes{
    padding: 5%;
    display: flex;
    justify-content: center;
}

.principal__seccion2__imagenes__figura{
    padding: 5%;
    size-adjust: 5rem;
}

.principal__seccion2__imagenes__figura__imagen{
    display: flex;
    width: 30rem;
    height: 20rem;
}

.principal_seccion2_imagenes_figura_boton_izquierda{
    display: flex;
    border: none;
    background-color: white;
    align-items: center;
}

.principal_seccion2_imagenes_figura_boton_derecha{
    display: flex;
    border: none;
    background-color: white;
    align-items: center;
}
.principal__seccion2__imagenes__figura__flecha{
    display:flex;
    width: 10rem;
    height: 9rem;
}
/* ----------------------------------------------------------------------------------------- */
.pie{
    margin-top: 5%;
    width: 100%;
    height: var(--altura-pie-pagina);
}

.pie__lista{
    list-style: none;
}

.pie__lista__titulo{
    font-weight: bold;
}

.pie__seccion__listas{
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 3rem;
}

.pie__seccion{
    display: flex;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.cabecero_oscuro{
    background-color: #212f3c;
    color: white;
}

.principal1_oscuro{
    background-color: #17202a;
    color: white;
}

.principal2_oscuro{
    background-color: #212f3c;
    color: white;
}

.pie_oscuro{
    background-color: #17202a;
    color: white;
}

.principal_seccion2_imagenes_figura_boton_izquierda_oscuro{
    background-color: #212f3c;
}

.principal_seccion2_imagenes_figura_boton_derecha_oscuro{
    background-color: #212f3c;
    height: auto;
}

.principal__seccion1__boton_oscuro{
    background-color: white;
    color: black;
}

.cabecero__navegador__boton_ampliar_oscuro{
    background-color: #212f3c;
    color: white;
}

.cabecero__navegador__boton_oscuro_oscuro{
    background-color: #212f3c;
    color: white;
}

.pie_seccion__listas__titulo_oscuro{
    color: white;
}