body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333333;
    text-align: center;
}

p {
    text-align: center;
    font-size: 3rem;
    color: orangered;
}

#hola{
    color: blueviolet;
}

#gracias{
    background-color: aqua;
}

.pi{
    font-size: 4rem;
}